<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <link rel="icon" type="image/x-icon" href="./favicon.ico">
    <link href="~/css/index.css" rel="stylesheet" />

    <meta name="description" content="🐍 Group up together and conquer the circles! 🐍" />
    <meta property="og:image" content="https://snektective.github.io/assets/img/snek.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="center-screen" id="egg">
        <img src="~/img/snek.png">
        <h4>sneknet</h4>
        <p>a website for growing circles automatically</p>
        <div class="mild-fade">
            <a href="https://github.com/Snektective">github</a> /
            <a href="https://discord.gg/BmDexHw">discord</a> /
            <a href="https://www.reddit.com/r/snakeroomalliance/">reddit</a> /
            <a href="https://twitter.com/snekroom">twitter</a>
        </div>
        <br class="break" />
        @RenderBody()
    </div>
    <div class="footer">
        <div>
            site written by
            <a class="reddit-user" data-user="__-_------___---"></a> and
            <a class="reddit-user" data-user="offbeatwitch"></a>
        </div>
        <div>
            contributors:
            <a class="reddit-user" data-user="lepon01"></a>,
            <a class="reddit-user" data-user="taxborn"></a>,
            <a class="reddit-user" data-user="seshpenguin"></a>,
            <a class="reddit-user" data-user="thesbros"></a> &amp;
            <a class="reddit-user" data-user="goz3rr"></a>
        </div>
        <div>
            sneknet icon courtesy of
            <a class="reddit-user" data-user="Hexbugman213"></a>
        </div>
    </div>

    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
